package/shared-native/.sync-state/

# SonarQube
.scannerwork/
.sonar/

# NPM
package-lock.json

# Coverage
coverage/

# Jenkins
*.war
jenkins.war
jenkins.war.*

# Database
*.db-journal

# Environment
.env
.env.*

# Build
dist/
build/
target/

# OS
Thumbs.db
node_modules/
